@model PIV_PF_ProyectoFinal.FACTURAS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FACTURAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.impuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.impuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTES.NombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTES.NombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.METODOS_PAGO.metodoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.METODOS_PAGO.metodoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTOS.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTOS.NombreProducto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
