@model IEnumerable<PIV_PF_ProyectoFinal.CLIENTES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCliente })
        </td>
    </tr>
}

</table>
